.quiz-end-container {
   display: flex;
   flex-direction: column;
   gap:1rem;
   max-width: 550px;
   margin: 3rem auto;
   padding: 2rem 1.5rem;
   border-radius: 10px;
   box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
   background-color: #fff;
   text-align: center;

   h2 {
      text-align: center;
      color: #2D3047;
      padding-bottom: 1.5rem;
   }

   p {
      font-size: 18px;
      color:#2D3047;
   }

   p.end-title {
      margin-top: 1rem;
      font-weight: 600;
      font-size: 1.3rem;
   }

   .accent {
      font-weight: 800;
      font-size:2rem;
      color: #419D78;
      letter-spacing: 1px;
   }
}