.scoreboard-container {
   padding:3rem 0;
   flex-grow: 1;
   
   h2 {
      text-align: center;
      color:#FFFBFF;
      margin-bottom:3rem;
   }

   .scoreboardList {
      display: flex;
      flex-direction: column;
      max-width: 1280px;
      width:100%;
      gap: 3rem;
      margin:auto;

      p.message {
         color:white;
         margin: auto;
      }
   }
}

.best {
   background-color: #419d78;
   border-radius: 2px;
}
