.form-register h2 {
   padding:3rem 0 2rem;
   text-align: center;
   color:#FFFBFF;
}

form {
   display: flex;
   flex-direction: column;
   background-color: #19161d;
   padding:2rem;
   border-radius: 1rem;
   max-width:300px;
   margin: auto;
   gap:2rem;

   label {
      display: flex;
      font-size: 1rem;
      padding-bottom: 1ch;
      color:white;
   }

   input {
      background-color: #f4f6fa;
      border: 1px solid #e6ebf3;
      border-radius: 1ch;
      padding:1ch;
      font-size: 1rem;
      width: 100%;
      font-family: "Inter", serif !important;

      &:focus,
      &:focus-visible {
         border: 1px solid #b3c2dd;
         outline: none;
      }
   }

   button {
      border-radius: 1ch;
      padding:1ch;
      border:none;
      background-color: #419D78;
      font-size: 1.1rem;
      cursor: pointer;
      color:white;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
         background-color: rgba(65, 157, 120, 0.9);
      }
   }
}

p.switch {
   text-align:center;
   color: white;
   margin:1.5rem 0;

   span {
      cursor: pointer;
      font-weight: 500; 
      color: #E0A458; 
      text-decoration: underline;

      &:hover {
         color: #d98b36;
      }
   }
}