.form-login h2 {
   padding:3rem 0 2rem;
   text-align: center;
   color:#FFFBFF;
}

form {
   display: flex;
   flex-direction: column;
   background-color: #19161d;
   padding:2rem;
   border-radius: 1rem;
   max-width:300px;
   margin: auto;
   gap:2rem;

   label {
      display: flex;
      font-size: 1rem;
      padding-bottom: 1ch;
      color:white;
   }

   input {
      background-color: #f4f6fa;
      border: 1px solid #e6ebf3;
      border-radius: 1ch;
      padding:1ch;
      font-size: 1rem;
      width: 100%;
      font-family: "Inter", serif !important;

      &:focus,
      &:focus-visible {
         border: 1px solid #b3c2dd;
         outline: none;
      }
   }

   button {
      border-radius: 1ch;
      padding:1ch;
      border:none;
      background-color: #419D78;
      font-size: 1.1rem;
      cursor: pointer;
      color:white;

      &:hover,
      &:focus,
      &:focus-visible{
         background-color: rgba(65, 157, 120, 0.9);
         outline: none;
      }
   }
}

p.switch {
   text-align:center;
   color: white;
   margin:1.5rem 0;
   font-size: 1rem;

   span {
      cursor: pointer;
      font-weight: 500; 
      color: #E0A458; 
      text-decoration: underline;

      &:hover {
         color: #d98b36;
      }
   }
}

.password-icon {
   position: relative;

   .eye-icon {
      font-size:1.1rem;
      color:#424242;
      position:absolute;
      cursor: pointer;
      top: 50%;
      right:0.75rem;
      transform: translateY(-50%);
   }
}