header {
   width: 100%;
   background-color: #419D78;

   .container {
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1280px;
      margin:auto;

      .logo a {
         color: #2D3047;
         font-size: 2rem;
         font-weight: bold;
         display: flex;
         align-items: center;
         gap:1rem;

         img {
            max-width: 50px;
         }
      }

      ul {
         display: flex;
         align-items: center;
         gap:1rem;

         li:not(.welcome, .createQuizLink, .scoreboard) {
            background-color: #E0A458; 
            border-radius: 1rem;
            transition: all 0.3s ease;

            &:hover {
               background-color: rgba(224, 164, 88, 0.95);
            }

            a {
               font-size: 1rem; 
               color: #2E2836; 
               padding: 0.8rem;
               font-weight:500;
               transition: color 0.2s ease;
               display: flex;

               &:hover {
                  color: #000000;
               }

               &:focus,
               &:focus-visible {
               outline: none;
               }
            }
         }

         li.createQuizLink {
            background-color: #B81365; 
            border-radius: 1rem;
            transition: all 0.3s ease;

            &:hover {
               background-color: rgba(184, 19, 101, 0.95);
            }

            a {
               font-size: 1rem; 
               color: white; 
               padding: 0.8rem;
               font-weight:500;
               transition: color 0.2s ease;
               display: flex;

               &:focus,
               &:focus-visible {
               outline: none;
               }
            }
         }

         li.scoreboard {
            background-color: #6290c8; 
            border-radius: 1rem;
            transition: all 0.3s ease;

            &:hover {
               background-color: rgba(98, 144, 200, 0.95);
            }

            a {
               font-size: 1rem; 
               color: #2E2836; 
               padding: 0.8rem;
               font-weight:500;
               transition: color 0.2s ease;
               display: flex;

               &:hover {
                  color: #000000;
               }

               &:focus,
               &:focus-visible {
               outline: none;
               }
            }
         }

         li.welcome {
            font-size: 1.1rem;
         }
      }
   }
}